/* -------------------------GENERAL----------------------- */
/* -------------------------NAV----------------------- */
.navbar a
{
    font-weight: 500;
}
/* -------------------------HEADER----------------------- */
header 
{
   position:relative;
   background-image: url("https://placekitten.com/1920/950");
   height: 60vh;
   background-position:center top;
}

header img
{
    height: 50vh;
}

header .texte
{
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    text-shadow:2px 2px 2px black ;
    padding:15px;
    max-width:1200px;
}

header h1
{
    font-size: 3em;
        
}

header h2
{
    font-size: 1.3em;
} 

header h3
{
    font-size: 1.3em;
}

@media (max-width: 575.98px)
{ 
    header h3
    {
        font-size: 1em;
    }
}

header .btn a
{
    text-decoration: none !important;
    color: #ffffff !important;
}

/* -------------------------CONTENU PRINCIPAL----------------------- */

aside img
{
    display: block;
    margin: 0 auto;
}

/* -------------------------A PROPOS----------------------- */
img.ma-tete
{
    display: block;
    margin:0 auto;
}

#a-propos p
{
    text-align: justify;
}

#a-propos iframe
{

    width: 100%;
    height: 25rem;
}
/* -------------------------FOOTER----------------------- */

footer p, footer ul
{
    text-align: center;
}
footer a
{
    color:rgb(61, 61, 61);
    font-weight:500;
    text-decoration: none;
    font-weight: bold;

}

footer a:hover
{
    color: black;
}